@model IEnumerable<Web.Data.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Список Книг</h1>

<form>
    <input asp-controller="Create" asp-action="Create" type="submit" value="Добавить Книгу" class="btn btn-primary" style="margin-top: 20px;"/>
</form>

<table class="table" style="margin-top: 20px;">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                <div class="btn-group-vertical" role="group" aria-label="Vertical button group">
                    <a asp-controller="Edit" asp-action="Edit" asp-route-id="@item.Id" type="sumbit" class="btn btn-primary">Изменить</a>
                    <a asp-controller="Details" asp-action="Details" asp-route-id="@item.Id" type="submit" class="btn btn-primary">Смотреть</a>
                    <a asp-controller="Delete" asp-action="Delete" asp-route-id="@item.Id" type="submit" class="btn btn-primary">Удалить</a>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>